@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mjolnir';
  src: url(../fonts/Mjölnir/Mjolnir.otf) format('opentype');
}

@font-face {
  font-family: 'Nordica';
  src: url(../fonts/linotype-nordica/linotypenordica-regular.ttf) format('truetype');
}

body {
  @apply bg-gray-500 text-gray-200 font-poppins bg-cover bg-no-repeat bg-fixed;
}